body{
    background-color: rgb(50,50,50);
    width: 100vw;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-weight:400; 
    font-size: 30px;
}

.header{
    height: 8vh;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}